<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>Iate Clube de Brasilia</display-name>
    <welcome-file-list>
        <welcome-file>/index.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Controle</servlet-name>
        <servlet-class>techsoft.controle.Controle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Upload</servlet-name>
        <servlet-class>techsoft.controle.Upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>gettime</servlet-name>
        <servlet-class>techsoft.util.gettime</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LocalAcademia</servlet-name>
        <servlet-class>techsoft.clube.LocalAcademia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleLocalAcademia</servlet-name>
        <servlet-class>techsoft.clube.ControleLocalAcademia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleServicoAcademia</servlet-name>
        <servlet-class>techsoft.clube.ControleServicoAcademia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleExcecaoAgendaAcademia</servlet-name>
        <servlet-class>techsoft.clube.ControleExcecaoAgendaAcademia</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controle</servlet-name>
        <url-pattern>/c</url-pattern>
    </servlet-mapping>
    <icon>
        <small-icon>/imagens/icones/favicon16.png</small-icon>
        <large-icon>/imagens/icones/favicon32.png</large-icon>
    </icon>
    <servlet-mapping>
        <servlet-name>Upload</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>gettime</servlet-name>
        <url-pattern>/gettime</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LocalAcademia</servlet-name>
        <url-pattern>/LocalAcademia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleLocalAcademia</servlet-name>
        <url-pattern>/ControleLocalAcademia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleServicoAcademia</servlet-name>
        <url-pattern>/ControleServicoAcademia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleExcecaoAgendaAcademia</servlet-name>
        <url-pattern>/ControleExcecaoAgendaAcademia</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>403</error-code>
        <location>/pages/403.html</location>
    </error-page>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>JSPs</web-resource-name>
            <url-pattern>/pages/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name/>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Controle</web-resource-name>
            <url-pattern>/c</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>1000</role-name>
            <role-name>6000</role-name>
            <role-name>7000</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-role>
        <description>Modulo de Clube</description>
        <role-name>1000</role-name>
    </security-role>
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/login.html</form-login-page>
            <form-error-page>/pages/login-invalido.html</form-error-page>
        </form-login-config>
    </login-config>
    
</web-app>
